# Latex stuff
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.xdv
_minted-*/
out/

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
